<center><h1 style="color: red;">Edit</h1>

<%= render "form", menu: @menu %>

<%= link_to "Show", @menu ,:class => "btn btn-info"%> |
<%= link_to "Back", menus_path ,:class => "btn btn-info"%></center>
  





