<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
        ======= Welcome ======= <br>
    </h3>
    <h4>
      Thank You for registration..
      You are successfully registered.
    </h4>
  </body>
</html>