<!DOCTYPE html>
<html>
<body>

<h2>Food Zone</h2>

<p>     Good food never fail in bringing people together.
        Good people, good food, good time.
        For some reason, food tastes better when it’s somebody‘s treat.
        I like people who love to eat. They’re the best kind of people in the world.
        First, we eat. Then, we do everything else.
        Dear diet, things just aren’t looking good for the both of us. It’s not me, it’s you. You’re too much work. You’re boring and I can’t stop cheating on you.
</p>
</body>
</html>
<!-- <center><h1 style="background-color: red;">food zone</h1>
</center>

